{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}


<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
        <h1 class="text-white fs-2 fw-bold mb-4 text-center">PINGPONG</h1>

        <form method="POST" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.usernames.label_tag }}
                {{ form.usernames }}
            </div>
            <div class="mb-4">
                {{ password_form.label_tag }}
                {{ password_form }}
            </div>
            <h6 class="text-center text-danger mb-3">{{ message }}</h6>
            <button type="submit" class="btn btn-primary custom-btn custom-btn-width">Connexion</button>
            <h6 class="text-center mt-3 text-white redir">Pas encore inscrit ? <a href="{% url 'register' %}" class="text-decoration-none">Ici</a></h6>
        </form>
    </div>
</div>
{% endblock content %}
