{% extends 'base/navbar.html' %}
{% load static %}
{%block content%}
    <body class="w-100">
        <div class="mx-5 mt-3">
            <h4 class="text-white">PINGPONG</h4>
            <div class="information-container p-3 mt-2 text-white">
                <p class="fw-bold fs-4 mb-2">📈 Votre Profil !</p>
                <p class="fw-medium fs-6">Vous êtes actuellement sur la page de profil. Ici, vous pouvez voir vos informations personnelles, vos statistiques de jeu et bien plus encore !</p>
            </div>
            <div class="row mt-5 text-left fs-5 fw-medium">
                <div class="col-12 col-md-4">
                    <div class="info-box mb-5">
                        <div class="mb-3">
                            <input type="hidden" id="victories" value="{{ win }}">
                            <input type="hidden" id="defeats" value="{{ lose }}">
                            <p for="username" class="form-label text-white fw-bold fs-4">Nombre de matchs</p>
                            <p class="form-label text-secondary fw-lighter fs-6">Nombre de matchs joués</p>
                            <div class="mb-2">
                                <p class="text-white fs-3 fw-bold">{{ total_matches }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="info-box mb-5">
                        <div class="mb-3">
                            <p for="username" class="form-label text-white fw-bold fs-4">Nombre de victoires</p>
                            <p class="form-label text-secondary fw-lighter fs-6">Nombre de matchs gagnés</p>
                            <div class="mb-2">
                                <p class="text-white fs-3 fw-bold">{{ win }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="info-box mb-5">
                        <div class="mb-3">
                            <p for="username" class="form-label text-white fw-bold fs-4">Nombre de défaite</p>
                            <p class="form-label text-secondary fw-lighter fs-6">Nombre de matchs perdu</p>
                            <div class="mb-2">
                                <p class="text-white fs-3 fw-bold">{{ lose }}</p>
                            </div>
                        </div>
                    </div>
                </div> 


                {% if data.win_matches > 0 or data.lose_matches > 0 %}
                    <div class="col-12 col-md-15">
                        <div class="info-box mb-5">
                            <div class="mb-3">
                                <p for="username" class="form-label text-white fw-bold fs-4">Historique des matchs</p>
                                <p class="form-label text-secondary fw-lighter fs-6">Liste des matchs joués</p>
                                <div class="mb-2">
                                    {% for id in matches %}
                                        <ul class="text-white fs-5 fw-lighter">
                                            <li>
                                                {{ id.created_at }} |
                                                {% if forloop.counter <= data.win_matches %}
                                                    <a class="text-success redir" href="{% url 'match_infos' id.id %}">Match <span class="fw-bold redir" href="{% url 'match_infos' id.id %}">gagné</span></a>
                                                {% else %}
                                                    <a class="text-danger redir" href="{% url 'match_infos' id.id %}">Match <span class="fw-bold redir" href="{% url 'match_infos' id.id %}">perdu</span></a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>    
                    
                    
                    <div class="col col-md-2 py-1">
                        <div class="info-box mb-5">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
{%endblock content%}  
