{% extends 'base/navbar.html' %}
{% load static %}


{%block content%}
    <body class="w-100">

        <div class="mx-5 mt-3">
        <h4 class="text-white">PINGPONG</h4>

        {% for tournaments in tournaments %}
            <div class="information-container p-3 mt-2 text-white">
                <p class="fw-light fs-4 mb-2">Tournois de <span class="fw-bold">{{ tournaments.owner_name }}</span></p>
                <p class="fw-medium fs-6">Ici vous pouvez voir les matchs du tournois et les joueurs inscrits</p>
            </div>
            <div class="overview row mt-3">
                <div class="col-md-2" id="players">
                    
                    <div class="players-container mt-2 p-2">
                        <div class="information-container mt-3 text-white">
                            <p class="text-center fw-bold fs-5 mbt-1">Liste des Joueurs</p>
                        </div>
                        {% for username in tournaments.username_virtual_player %}
                        <div class="information-container mt-3 text-white">
                            <div class="user-card mx-2 d-flex align-items-center">
                                <p class="fw-light mb-0">- <span class="fw-bold">{{ username }}</span></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-10" id="rounds">
                    <div class="rounds-container mt-2 p-2">
                        <div class="information-container mt-3 text-white">
                            <p class="text-center fw-bold fs-4">Liste des matchs du tournois</p>
                        </div>
                
                        <div class="row mt-1 p-5">
                        {% for id in matchs_list|dictsort:"id" %}
                            {% if id.player1 != '_' and id.player2 != '_' %}
                                <div class="col-4 col-md-3">
                                    <div class="info-box mb-5">
                                        <div class="p-2">
                                            {% if id.player1 == id.winner %}
                                                <p class="fw-bold fs-5 text-white text-center">Match <span class="fw-bold">{{ id.id }}</span></p>
                                                <p class="fs-5 text-success text-center">{{ id.player1 }}</p>
                                                <p class="fw-light fs-5 text-white text-center">VS</p>
                                                <p class="fw-light fs-5 text-danger text-center">{{ id.player2 }}</p>
                                            {% elif id.player2 == id.winner %}
                                                <p class="fw-bold fs-5 text-white text-center">Match <span class="fw-bold">{{ id.id }}</span></p>
                                                <p class="fw-light fs-5 text-danger text-center">{{ id.player1 }}</p>
                                                <p class="fw-light fs-5 text-white text-center">VS</p>
                                                <p class="fw-light fs-5 text-success text-center">{{ id.player2 }}</p>
                                            {% else %}
                                                <input type="hidden" id="currentMatchId" value="{{ id.id }}">
                                                <p class="fw-bold fs-5 text-white text-center">Match <span class="fw-bold">{{ id.id }}</span></p>
                                                <p class="fw-light fs-5 text-white text-center">{{ id.player1 }}</p>
                                                <p class="fw-light fs-5 text-white text-center">VS</p>
                                                <p class="fw-light fs-5 text-white text-center">{{ id.player2 }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}                        
                        </div>
                    </div>
                </div>
                {% if tournaments.state is False %}
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-success btn-custom redir" href="{% url 'tournament_match' %}">Lancer le prochain round</a>
                </div>
                {% else %}
                    <p class="text-white text-center mt-5">Le tournois est terminé</p>
                    <p class="text-white text-center">Le gagnant est <span class="fw-bold">{{ tournaments.winner_name }}</span></p>
                {% endif %}
            </div>
        {% endfor %}
    </body>
{%endblock content%}
